appdirs==1.4.3
cycler==0.10.0
gym==0.8.0
matplotlib==2.0.0
numpy==1.12.0
packaging==16.8
pandas==0.19.2
pyglet==1.2.4
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
six==1.10.0
